* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}

html,
body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    background-color: black;
}

.main .hero {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
    color: white;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 2.7vw;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.nav h4 {
    text-transform: uppercase;
    font-weight: 500;
}

.headings {
    padding: 6.5vw 3vw;
}

.headings h1 {
    letter-spacing: 4px;
    font-family: "General Sans Medium";
    font-size: 9vw;
    font-weight: 800;
    line-height: 8vw;
    opacity: .6;
}

.secondhead {
    width: fit-content;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.secondhead h6 {
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 10px;
}

.rightheadings {
    padding: 2vw 2.5vw;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.rightheadings h5 {
    font-size: 16px;
    margin-top: 10px;
    text-align: right;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 2%;
    padding: 0vw 2vw;
}

.footer a {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(193, 190, 190);
    color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.iconset {
    display: flex;
    gap: 10px;
}

.second-page {
    padding-top: 140px;
    width: 100%;
    height: 100vh;
    color: white;
}

.elem {
    border-top: 2px solid #888;
    width: 90%;
    height: 193px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.lastelem {
    border-bottom: 2px solid #888;
}

.elem h1 {
    opacity: .7;
    font-size: 8vw;
    text-transform: uppercase;
    font-weight: 900;
}

.elem h6 {
    font-weight: 500;
    padding: 0vw 5vw;
    font-size: 1vw;
}

.elem img {
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}

.third-page {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding: 8vw 2vw;
    padding-left: 38vw;
    gap: 80px;
}

.about {
    width: 50%;
}

.third-page img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.third-page h5 {
    /* margin-bottom: 5px; */
    font-size: 13px;
    opacity: .6;
}

.third-page p {
    line-height: 27px;
    margin-bottom: 1rem;
    font-size: 18px;
    margin-bottom: 30px;
}

.third-page a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 100px;
}

.third-page a:hover {
    color: black;
    background-color: white;
    transition: .5s;
}

.left-div {
    width: 100%;
    padding: 2vw 3vw;
    color: white;
}

.left-div h6 {
    opacity: .7;
    font-size: 13px;
    margin-bottom: 5px;
}

.left-div h5 {
    font-size: 13px;
}

.second-footer {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5vw;
}

.time {
    display: flex;
    gap: 20px;
    font-size: 17px;
    padding: 1vw 3vw;
    font-size: 18px;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
}

.social-media a {
    color: white;
    text-decoration: none;
    padding: 0px 25px;
}

.minicircle {
    z-index: 99999;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    transition: .1s;
}

.bounding {
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelem {
    transform: translateY(100%);
}